page-menuemailpopover {
    background-color:#FF5729;
    .toolbar-background {
        background-color:#00585e;
    }
    
    ion-icon{
        color: primary;
    }
    
    h6{
    
        color: dark;
    }
    
    ion-label{
        color: primary;
        
    }
    
    ion-buttons.nav{
        background-color: #454445;
    }
    
    
    button{
    
        background-color: #454445;
    }
}