page-compose-email {
    ion-icon{
        color: white;
        font-size: 10%;
    }
}

/*.toolbar-background {
    background-color:#00585e;
}

h6{

    color: white;
}

ion-label{
    color: black;
    
}*/