page-compose-email {
        .toolbar-background {
                background-color:#00585e;
        }
            
        ion-icon{
                color: white;
        }
            
        h6{
            
                color: white;
        }
            
        ion-label{
                color: black;
                
        }
        
        ion-icon.content {
                background-color:#00585e;
        
        }
        
        
        button.content {
                background-color:  #FF5729;
                font-size: 15px;
        }
        
        
        ion-label{
                color: black;
                
        }
        
        p.content{
                color: black;
        }

        span.large{
                background-color: #FF5729;
                font-size: 18px;
        }

 }