<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Projec List
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab right edge (click)=goToNewproject()>
    <button ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1> Bidding Project List</h1>
        <ion-list>
          <ion-item *ngFor="let c of biddingProject">
            <p>
              <ion-icon name="md-pint"></ion-icon> {{c.name}} 
              <ion-icon name="name"></ion-icon>
            </p>
            <button ion-button color="primary" item-end (click)="updateInstant(c)">
                    <ion-icon name='md-create'></ion-icon>
                </button>
          </ion-item>
          <ion-item></ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <h1> Instant Project List</h1>
        <ion-list>
          <ion-item *ngFor="let c of instantProject">
            <p>
              <ion-icon name="md-pint"></ion-icon> {{c.name}} 
              <ion-icon name="name"></ion-icon>
            </p>
            <button ion-button color="primary" item-end (click)="updateInstant(c)">
                    <ion-icon name='md-create'></ion-icon>
                </button>
          </ion-item>
          <ion-item></ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button icon-left color="primary" (click)=goToMain()>
          <ion-icon name="home"></ion-icon>
          Main
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left color="primary" (click)=goToHome()>
          <ion-icon name="md-cog"></ion-icon>
          Set-up
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>