<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{user.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <div padding-top text-center>
    <h2>{{user.name}}</h2>
    <ion-row no-padding>
      <ion-col>
        <p>{{user.role}}</p>
      </ion-col>
      <ion-col *ngIf="user.company_name">
        @<button ion-button color="primary"> {{user.company_name}} </button>
      </ion-col>
  </ion-row>

    <ion-list inset>
      <ion-item *ngIf="user.questions_answered_right"> Questions answered right: {{user.questions_answered_right}}</ion-item>
      <ion-item *ngIf="user.questions_answered_wrong"> Questions answered wrong: {{user.questions_answered_wrong}}</ion-item>
      <ion-item *ngIf="user.questions_answered_right"> User performance: {{100*user.questions_answered_right/(user.questions_answered_wrong+user.questions_answered_right)}}%</ion-item>
    </ion-list>
  </div>
</ion-content>
