<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{user.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list padding-top text-center>
    <h2 color="terciary" ><b>{{user.name}}</b></h2>
    <h5>"{{user.username}}"</h5>
    <ion-row no-padding center>
      <ion-col>
        <p>{{user.role}}</p>
      </ion-col>
      <ion-col *ngIf="user.companyName">
        <p>at</p>
      </ion-col>
      <ion-col *ngIf="user.companyName">
        <p>{{user.companyName}}</p>
      </ion-col>
    </ion-row>
    <ngx-charts-number-card
      [view]="view"
      [scheme]="colorScheme"
      [results]="cards">
    </ngx-charts-number-card>
  </ion-list>
</ion-content>
